/* Page Fonts - text, sizes, etc. */
body {
  font-family: Helvetica, Verdana, Arial;
  margin:0;
  padding:0;
  background-image: url("../IMG/Home/background.jpg");
}


/* Home, About */
h1, h2, h3 {
	text-align: center;
}

/* Thank You */
h6 {
	font-weight: bold;
	font-style: italic;
	font-size: 48px;
	text-align: center;
	margin-top: 250px;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

header {
	width: 100%;
	height: 109px;
	background-color: #dadadc;
}

/* Include nav link for navigation to appear */
nav {
	width: 100%;
  background-color: #333;
}

/* Navigation Starts here */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 }

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* Changes link colour on active page */
.active {
  background-color: #5aba47;
}

ul li {
  border-right: none; 
}

/* Sets a border around the login button on home screen */
ul li:last-child {
  border-right: 1.5px solid #bbb;
}

ul li:last-child a {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

/* side bar navigation on Recipie page */
aside ul{
	width: 100px;
	background-color: #333;
	position: fixed;
	left:90%;
	top:30%;
	z-index: 1;
}

/* All sections */
section {
	padding: 0%;
	margin: 0% 25%; 
}

/* Recipie headings */
section h2 {
	text-align: center;
}

/* Map on contact page */
section aside {
	float: right;
}

/*Check https://medium.freecodecamp.org/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c and add the two divs around main content with css*/
footer {
	text-align: center; 
	width: 100%;
	background-color: #4a6715;
	padding: 5px 0px 10px 0px;
	position: relative;
	bottom: 0;
}

/* Contact Us page Footer */
#ConFooter {
	text-align: center; 
	width: 100%;
	background-color: #4a6715;
	padding: 5px 0px 10px 0px;
	position: absolute;
	bottom: 0;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/* Home page writing on image - positions words and button ontop of the hero image https://www.w3schools.com/css/css_positioning.asp */
.container {
  position: relative;
}
 
.center {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 65px;
  color: white;
}

/* Button link https://www.w3schools.com/css/css3_buttons.asp */
.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: #333;
  color: white;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

/* Gallery */

div.gallery {
  margin: 60px;
  border: 1px solid #ccc;
  width: 180px;
  display: inline-block;
}

.top-gallery .gallery {
  height: 350px;
  vertical-align: top;  
}

.snacks {
  display: flex;
  justify-content: center;
}

.snacks div {
  align-items: center;
  justify-content: center;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/

/* About US page imagery quotes https://www.brainyquote.com/topics/chef */

span.gallery {
  margin: 15px;
  display: inline-block;
  width: 180px;
}

span.gallery img {
  width: 170px;
  height: 170px;
}

span.desc {
  padding-top: 10px;
  display:block;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/

/*Back links */

#backToTop {
  text-align: right;
}

.socialLinks {
  margin-right: 10px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/

/*Contact Us */
#contactRightCol {
  display:inline-block;
}

#contactLeftCol {
  display: inline-block;
}

/* Contact Us form */
#CForm {
	padding-right: 12px;
	padding-left: 12px;
	width: 400px;
}

#RForm {
	padding-right: 12px;
	padding-left: 12px;
	margin-left: 100px;
	width: 450px;
}